html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
}

span .navbar-text {
  margin-right: 10px;
}

#textContent {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: auto;
    z-index: 1111;
    transform: translate(-50%, -50%);
}

.word {
    display: inline;
    font-size: 2em;
    color: #FFFFFF;
    margin-right: 0.4em;
    white-space: pre;
}

.letter {
    display: inline;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    transition:color 0.3s ease;
}

.letterCorrect {
    color: #77DD77;
}

.letterIncorrect {
    color: #FF6961;
}

#textHidden {
    display: none;
}

#floatingForm {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11111;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(3px);
}

#floatingForm h3 {
    margin-bottom: 1rem;
}

#floatingFormLogin {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .5s linear;
}

#floatingFormRegister {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .5s linear;
}

.floatingFormBox {
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25%;
    height: auto;
    z-index: 1111;
    transform: translate(-50%, -50%);
}
